.container{

  position: absolute;
  top:55px;
  left:10%;
  
  
  }
  
  
  
  .card{
  width:450px;
  position: relative;
  float: left;
  margin:5px;
  left:50px;
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
  }
  
  body {
    background: url('https://media.nomadicmatt.com/moroccoguide.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  ul {
    position: fixed;
    width: 100%;
    z-index: 995;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
  
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;}
  
  
  .title{
  
    position: absolute;
    top:80px;
    color:rgb(199, 199, 199);
  
  
  
  }  
  
  
  .sidebar{
    position: fixed;
    color:#f5deb3;
    background-color:rgb(236, 236, 236);
    width:30%;
    left:85%;
    top: 0;
    padding-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    display:none;
    z-index: 990;
    }
  
    .sidebar h2{
  
        font-weight: bold;
        margin-top: 20px;
        padding:10px 20px;  
        font-size: 15px;
        border-bottom: tomato;
        letter-spacing: 3px;
        background-color: black;
        
        }
  
    .sidebar a{
    
    
    display:block;
    padding:10px 20px;
    color: black;
    letter-spacing: 3px;
    
    }
    .sidebar a:hover{
  
      transition-delay: 0.3;
      color:rgb(253, 5, 5);
        
        }
  
        
  .menu{
  
  position: fixed;
  left:97%;
  top:10px;
  z-index: 999;
  width: 30px;
  height: 30px;
  
  
  }
  
  
  
  
  .fav{
  
    position: relative;
    float:right;
    margin-top: 30px;
    width: 10px;
    height: 10px;
  
  }
  
  .favo .tooltext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(153, 153, 153);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
  
    /* Position the tooltip */
    position: absolute;
    left: 80%;
    bottom: 10%;
    z-index: 1;
  }
  
  .favo:hover .tooltext {
    visibility: visible;
  }

  .imgsh{
    position: absolute;  
    width: 25px;
    height: 25px;
    top:10px;
    left:55%;
    }
    
    #search{
    position: absolute;    
    left: 39.7%;
    top:8px;
    
    
    
    
    }


#formsav{
visibility: hidden;
position: absolute;  
top:0;
right: 0;
color:white;
}